appdirs==1.4.3
asgiref==3.5.0
async-generator==1.10
attrs==19.3.0
Automat==0.8.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
blinker==1.4
Brotli==1.0.9
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
cloud-init==21.4
colorama==0.4.3
command-not-found==0.3
ConfigArgParse==1.5.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
dbus-python==1.2.16
decorator==5.1.1
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
Django==4.0.2
django-simple-chatbot==0.0.9
djangorestframework==3.13.1
entrypoints==0.3
filelock==3.0.12
Flask==2.0.3
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.10
gevent==21.12.0
geventhttpclient==1.5.3
greenlet==1.1.2
h11==0.13.0
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.5.0
incremental==16.10.1
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.1.0
jsonpatch==1.22
jsonpath-ng==1.5.3
jsonpointer==2.0
jsonschema==3.2.0
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
locust==2.8.3
MarkupSafe==2.1.0
more-itertools==4.2.0
msgpack==1.0.3
netifaces==0.10.4
nltk==3.7
oauthlib==3.1.0
outcome==1.1.0
pexpect==4.6.0
ply==3.11
psutil==5.9.0
psycogreen==1.0.2
psycopg2-binary==2.9.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyrsistent==0.15.5
pyserial==3.4
PySocks==1.7.1
python-apt==2.0.0+ubuntu0.20.4.7
python-debian===0.1.36ubuntu1
pytz==2021.3
PyYAML==5.3.1
pyzmq==22.3.0
regex==2022.3.2
requests==2.27.1
requests-unixsocket==0.2.0
roundrobin==0.0.2
SecretStorage==2.3.1
selenium==4.1.3
service-identity==18.1.0
simplejson==3.16.0
six==1.14.0
sniffio==1.2.0
sortedcontainers==2.4.0
sos==4.3
soupsieve==2.3.1
sqlparse==0.4.2
ssh-import-id==5.10
stripe==2.67.0
systemd-python==234
tqdm==4.63.0
trio==0.20.0
trio-websocket==0.9.2
Twisted==18.9.0
typing-extensions==4.1.1
ubuntu-advantage-tools==27.6
ufw==0.36
uipath==0.0.1
unattended-upgrades==0.1
unitest==1.3.3
urllib3==1.26.8
virtualenv==20.0.17
wadllib==1.3.3
Werkzeug==2.0.3
wsproto==1.1.0
zipp==1.0.0
zope.event==4.5.0
zope.interface==4.7.1
